{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <title>{% block title %}{% endblock title %}</title>
     {% tailwind_css %}
     <link rel="stylesheet" href="{% static "css/style.css" %}">

</head>
<body>
    {% block content %}{% endblock content %}
    <footer>
        <div>Made with love by grand master chef</div>
    </footer>
</body>
</html>


/Users/jenniferwong/hack-reactor/projects/grand-master-chef/theme/static/css/dist/styles.css
